body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #eef7ff;
    display:flex;
    flex-direction: column;
}

input, button {
    border:none;
    outline:none;
    margin:0;
    padding:0;
}

.trackList {
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    .form {
        display: flex;
        height:40px;
        width: 250px;
        margin-bottom: 50px;
        border: 1px solid #c1c6ca;
        border-radius: 3px;
        &__input {
            padding-left: 15px;
            font-size: 14px;
            border-top-left-radius:3px;
            border-bottom-left-radius:3px;
            height:calc(100% - 2px);
            width:calc(80% - 1px);
        }
        &__btn {
            border-top-right-radius:3px;
            border-bottom-right-radius:3px;
            width:calc(20% - 1px);
            height:100%;
            background: url(../image/searchIcon.png) 50% 50% #f3f3f3 no-repeat;
            background-size:50%;
            cursor: pointer;
        }
        
    }
}

.tracks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:75%;
    &__header {
        display:flex;
        padding-left: 160px;
        padding-right:10%;
        p {
            word-wrap:break-word;
            flex:1;
            text-align: left;
        }
    }
}

.listItem {
    border-radius:5px;
    cursor: pointer;
    transition: .6s;
    &:nth-child(even) {
        background-color:#ccdff0; 
    }
}

.accordBtn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:10px;
}

.wrapImg {
    flex:1;
    img {
        border-radius:3px;
        border: 1px solid blue;
    }
}

.trackDescr {
    display:flex;
    flex:8;
    padding-left: 45px;
    p {
        flex:1;
        padding-left:5px;
    }
}


.status {
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    &__item {
        display: block;
        width:5px;
        height:20px;
        background-color: black;
        transition:.5s;
        &:first-child {
            transform: translateX(5px) rotate(90deg);
        }
    }
    .unActive {
        &:last-child {
            transform: rotate(270deg);
        }
    }
}

.accordContent {
    height:0px;
    transition:.4s;
    overflow: hidden;
    padding-left: 150px;
    display: flex;
    align-content: center;
    flex-wrap:wrap;
    &__title {
        width:100%;
        span {
            position: relative;
            font-size:20px;
            font-weight:600;
            line-height:40px;
            &:after {
                content:'';
                display:block;
                position: absolute;
                bottom:0;
                right:-30px;
                width:25px;
                height:25px;
                background: url(../image/musicNote.png) 50% 50% no-repeat;
                background-size: 25px 25px;
            }
        }
    }
    p {
        width:50%;
    }
}

.openAccord {
    padding-bottom:10px;
    height: 230px;
}

@media (min-width:1441px) {
    .tracks__header {
        padding:0 11% 0 245px;
    }
}